@using Microsoft.AspNetCore.Antiforgery
@using Microsoft.AspNetCore.Http
@using Rcl.DataTable.Models
@inject IAntiforgery Antiforgery
@inject IHttpContextAccessor HttpContextAccessor

@if (Actions != null && Actions.Any())
{
    <div class="actions-wrapper">
        @foreach (var action in Actions)
        {
            if (action.IsDelete)
            {
                <form hx-post="@action.Url" 
                      hx-target="#dt-prod-grid" 
                      hx-swap="outerHTML" 
                      hx-confirm="Êtes-vous sûr de vouloir supprimer : @action.Title ?"
                      class="dt-action-form">
                    
                    @{
                        var tokens = Antiforgery.GetAndStoreTokens(HttpContextAccessor.HttpContext!);
                    }
                    <input type="hidden" name="@tokens.FormFieldName" value="@tokens.RequestToken" />

                    <button type="submit" class="action-btn btn-delete" title="Supprimer">
                        <i class="bi @action.Icon"></i>
                    </button>
                </form>
            }
            else
            {
                @* Utilisation de hx-get pour la navigation fluide sans rechargement complet *@
                <form hx-get="@action.Url" hx-target="body" hx-push-url="true" class="dt-action-form">
                    <button type="submit" class="action-btn btn-standard" title="@action.Title">
                        <i class="bi @action.Icon"></i>
                    </button>
                </form>
            }
        }
    </div>
}

@code {
    [Parameter, EditorRequired] public List<TableAction> Actions { get; set; } = new();
}