@using Rcl.DataTable.Models

<div class="dt-search-panel">
    <div class="search-flex">
        @* 1. Zone de Recherche *@
        <div class="search-input-wrapper">
            <i class="bi bi-search search-icon"></i>
            <input type="text" 
                   id="dt-search-input-@TableId"
                   name="searchTerm" 
                   value="@Model.SearchTerm"
                   class="dt-input" 
                   placeholder="@Model.Placeholder"
                   autocomplete="off"
                   hx-get="@Model.SearchUrl" 
                   hx-trigger="keyup changed delay:500ms, search" 
                   hx-target="#dt-@TableId" 
                   hx-swap="outerHTML"
                   hx-indicator=".dt-loader-@TableId" />
            
            <button type="button" 
                    id="btn-clear-@TableId"
                    class="btn-clear @(string.IsNullOrEmpty(Model.SearchTerm) ? "d-none" : "")"
                    hx-get="@Model.EraseSearchUrl" 
                    hx-target="#dt-@TableId"
                    hx-swap="outerHTML"
                    title="Effacer la recherche">
                <i class="bi bi-x-circle-fill"></i>
            </button>
        </div>

        @* 2. Badge de Recherche (Positionné après le bouton Delete) *@
        @if (!string.IsNullOrEmpty(Model.SearchTerm))
        {
            <div class="dt-filter-badge">
                <strong>@TotalFound.ToString("N0")</strong> items trouvés
            </div>
        }
    </div>
    
    <div class="dt-loader htmx-indicator dt-loader-@TableId"></div>
</div>

@code {
    [Parameter, EditorRequired] 
    public string TableId { get; set; } = string.Empty;

    [Parameter, EditorRequired] 
    public SearchViewModel Model { get; set; } = new();

    [Parameter] 
    public int TotalFound { get; set; }
}