@using Microsoft.AspNetCore.Antiforgery
@using Microsoft.AspNetCore.Http
@using Rcl.DataTable.Models
@inject IAntiforgery Antiforgery
@inject IHttpContextAccessor HttpContextAccessor

@if (Actions != null && Actions.Any())
{
    <div class="btn-group btn-group-sm dt-actions-container">
        @foreach (var action in Actions)
        {
            var borderClass = action != Actions.First() ? "border-start" : "";

            @if (action.IsDelete)
            {
                @* Ajout de hx-post et hx-target pour une suppression sans rechargement *@
                <form 
                    hx-post="@action.Url" 
                    hx-target="#dt-prod-grid" 
                    hx-swap="outerHTML" class="d-inline dt-form-delete">

                    @* Ton code de jeton Antiforgery reste identique *@
                    @{
                        var tokens = Antiforgery.GetAndStoreTokens(HttpContextAccessor.HttpContext!);
                    }
                    <input type="hidden" name="@tokens.FormFieldName" value="@tokens.RequestToken" />

                    <button type="submit" class="btn btn-white @action.ColorClass @borderClass" data-confirm="@action.Title ?"
                            title="@action.Title">
                        <i class="bi @action.Icon"></i>
                    </button>
                </form>
            }
            else
            {
                <form action="@action.Url" method="get" class="d-inline">
                    <button type="submit" class="btn btn-white @action.ColorClass @borderClass" title="@action.Title">
                        <i class="bi @action.Icon"></i>
                    </button>
                </form>
            }
        }
    </div>
}

@code {
    [Parameter, EditorRequired] public List<TableAction> Actions { get; set; } = new();
}