@using Rcl.DataTable.Models

@if (Actions != null && Actions.Any())
{
    <div class="btn-group btn-group-sm" onclick="event.stopPropagation();">
        @foreach (var action in Actions)
        {
            var borderClass = action != Actions.First() ? "border-start" : "";

            if (action.IsDelete)
            {
                @* Pour la suppression, on reste sur un formulaire standard *@
                <form action="@action.Url" method="post" class="d-inline">

                    <button type="submit" class="btn btn-white @action.ColorClass @borderClass"
                            onclick="return confirm('Confirmer la suppression : @action.Title ?');" 
                            title="@action.Title">
                        <i class="bi @action.Icon"></i>
                    </button>
                </form>
            }
            else
            {
                @* On utilise la classe btn-dt-action pour notre script esbuild *@
               <form action="@action.Url" method="get" class="d-inline">
                    <button type="submit" class="btn btn-white @action.ColorClass @borderClass" 
                            title="@action.Title">
                        <i class="bi @action.Icon"></i>
                    </button>
                </form>
            }
        }
    </div>
}

@code {
    [Parameter, EditorRequired] public List<TableAction> Actions { get; set; } = new();
    
    // Note : On n'utilise plus NavigateTo() ici car c'est le JS qui prend le relais
}